.itemListContainer{
    width: 95vw;
    padding: 2rem;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    justify-items: center;
    align-content: center;
}